/* debug */

/*canvas {
	border: 1px solid red;
}*/



.hot-finger-widget .hot-finger-button,
.hot-finger-button {
	font-size: 11px;
	font-family: Arial;
	font-weight: bold;
	padding: 5px 6px;
	cursor: pointer;
	border-radius: 8px;
	display: inline-block;
	opacity: 0;
}
.hot-finger-widget .hot-finger-ON-button,
.hot-finger-ON-button {
	color: crimson;
	background-color: bisque;
	border: 1px solid orange;
}
.hot-finger-widget .hot-finger-ON-button:hover,
.hot-finger-ON-button:hover {
	background-color: orange;
}
.hot-finger-widget .hot-finger-OFF-button,
.hot-finger-OFF-button {
	color: orange;
	background-color: aliceblue;
	border: 1px solid cyan;
}
.hot-finger-widget .hot-finger-OFF-button:hover,
.hot-finger-OFF-button:hover {
	background-color: cyan;
}
.hot-finger-container-parent:hover .hot-finger-button{
	opacity: 1;
}
.hot-finger-container-parent a.what-is-hotfinger {
	display: none;
	font-family: Arial;
	margin-left: 10px;
	font-size: 12px;
}
.hot-finger-container-parent:hover a.what-is-hotfinger {
	display: inline-block;
}

